# Data Processing

In [48]:
# Importing required libraries
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import seaborn as sns

In [49]:
data = pd.read_csv('match_data.csv')

In [50]:
data.head()

,Unnamed: 0,match_id,city,date,player_of_match,venue,match_type,team1,team2,toss_winner,...,winner,result,outcome_by,result_margin,result_margin_type,eliminator,umpire1,umpire2,season,team_type
0,0,1000851,Perth,2016-11-03,K Rabada,Western Australia Cricket Association Ground,Test,Australia,South Africa,South Africa,...,South Africa,win,{'runs': 177},177.0,runs,NaN,Aleem Dar,NJ Llong,2016/17,international
1,1,1000853,Hobart,2016-11-12,KJ Abbott,Bellerive Oval,Test,Australia,South Africa,South Africa,...,South Africa,win,"{'innings': 1, 'runs': 80}",80.0,runs,NaN,Aleem Dar,RA Kettleborough,2016/17,international
2,2,1000855,NaN,2016-11-24,UT Khawaja,Adelaide Oval,Test,Australia,South Africa,South Africa,...,Australia,win,{'wickets': 7},7.0,wickets,NaN,RA Kettleborough,NJ Llong,2016/17,international
3,3,1000881,Brisbane,2016-12-15,Asad Shafiq,"Brisbane Cricket Ground, Woolloongabba",Test,Australia,Pakistan,Australia,...,Australia,win,{'runs': 39},39.0,runs,NaN,IJ Gould,RK Illingworth,2016/17,international
4,4,1000883,NaN,2016-12-26,SPD Smith,Melbourne Cricket Ground,Test,Australia,Pakistan,Pakistan,...,Australia,win,"{'innings': 1, 'runs': 18}",18.0,runs,NaN,IJ Gould,S Ravi,2016/17,international

In [51]:
data.tail()

,Unnamed: 0,match_id,city,date,player_of_match,venue,match_type,team1,team2,toss_winner,...,winner,result,outcome_by,result_margin,result_margin_type,eliminator,umpire1,umpire2,season,team_type
17886,17886,wi_211979,NaN,2022-06-21,NaN,"Guyana National Stadium, Providence",ODM,Guyana,Leeward Islands,Leeward Islands,...,Guyana,win,{'wickets': 8},8.0,wickets,NaN,S Crawford,N Shivsankar,2022,club
17887,17887,wi_212061,NaN,2022-06-22,NaN,"Guyana National Stadium, Providence",ODM,Barbados,Trinidad and Tobago,Trinidad and Tobago,...,Barbados,win,{'wickets': 9},9.0,wickets,NaN,N Duguid,JM Williams,2022,club
17888,17888,wi_212062,NaN,2022-06-23,NaN,"Guyana National Stadium, Providence",ODM,Guyana,Jamaica,Jamaica,...,Jamaica,win,{'wickets': 8},8.0,wickets,NaN,S Crawford,LN Rajkumar,2022,club
17889,17889,wi_212063,NaN,2022-06-24,NaN,"Guyana National Stadium, Providence",ODM,Windward Islands,Leeward Islands,Windward Islands,...,Windward Islands,win,{'runs': 151},151.0,runs,NaN,R Banwarie,Imran Moakan,2022,club
17890,17890,wi_212064,NaN,2022-06-25,NaN,"Guyana National Stadium, Providence",ODM,Barbados,Jamaica,Jamaica,...,Barbados,win,{'wickets': 8},8.0,wickets,NaN,S Crawford,JM Williams,2022,club

In [52]:
print("Rows and Columns of the dataset :- ",data.shape)

Rows and Columns of the dataset :-  (17891, 21)

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17891 entries, 0 to 17890
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          17891 non-null  int64
 1   match_id            17891 non-null  object
 2   city                16192 non-null  object
 3   date                17891 non-null  object
 4   player_of_match     13107 non-null  object
 5   venue               17891 non-null  object
 6   match_type          17891 non-null  object
 7   team1               17891 non-null  object
 8   team2               17891 non-null  object
 9   toss_winner         17891 non-null  object
 10  toss_decision       17891 non-null  object
 11  winner              16552 non-null  object
 12  result              17891 non-null  object
 13  outcome_by          17891 non-null  object
 14  result_margin       16548 non-null  float64
 15  result_margin_type  16548 non-null  object
 16  eliminator          0 non-null      float64
 17  umpire1             17144 non-null  object
 18  umpire2             17142 non-null  object
 19  season              17891 non-null  object
 20  team_type           17891 non-null  object
dtypes: float64(2), int64(1), object(18)
memory usage: 2.9+ MB

In [54]:
data.columns

Index(['Unnamed: 0', 'match_id', 'city', 'date', 'player_of_match', 'venue',
       'match_type', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'winner', 'result', 'outcome_by', 'result_margin', 'result_margin_type',
       'eliminator', 'umpire1', 'umpire2', 'season', 'team_type'],
      dtype='object')

In [55]:
data['team_type'].unique()

array(['international', 'club'], dtype=object)

In the original dataset we have two types of matches namely ,
International and test.

We are considering International matches as our problem statement is predicting match winner for international matches.

In [71]:
international_count = data[data['team_type'] == 'international'].shape[0]

print("Number of international matches:",international_count)

Number of international matches: 8377

In [57]:
# Create a new DataFrame with only 'international' rows
international_matches = data[data['team_type'] == 'international'].copy()


international_matches.head()

,Unnamed: 0,match_id,city,date,player_of_match,venue,match_type,team1,team2,toss_winner,...,winner,result,outcome_by,result_margin,result_margin_type,eliminator,umpire1,umpire2,season,team_type
0,0,1000851,Perth,2016-11-03,K Rabada,Western Australia Cricket Association Ground,Test,Australia,South Africa,South Africa,...,South Africa,win,{'runs': 177},177.0,runs,NaN,Aleem Dar,NJ Llong,2016/17,international
1,1,1000853,Hobart,2016-11-12,KJ Abbott,Bellerive Oval,Test,Australia,South Africa,South Africa,...,South Africa,win,"{'innings': 1, 'runs': 80}",80.0,runs,NaN,Aleem Dar,RA Kettleborough,2016/17,international
2,2,1000855,NaN,2016-11-24,UT Khawaja,Adelaide Oval,Test,Australia,South Africa,South Africa,...,Australia,win,{'wickets': 7},7.0,wickets,NaN,RA Kettleborough,NJ Llong,2016/17,international
3,3,1000881,Brisbane,2016-12-15,Asad Shafiq,"Brisbane Cricket Ground, Woolloongabba",Test,Australia,Pakistan,Australia,...,Australia,win,{'runs': 39},39.0,runs,NaN,IJ Gould,RK Illingworth,2016/17,international
4,4,1000883,NaN,2016-12-26,SPD Smith,Melbourne Cricket Ground,Test,Australia,Pakistan,Pakistan,...,Australia,win,"{'innings': 1, 'runs': 18}",18.0,runs,NaN,IJ Gould,S Ravi,2016/17,international

In [58]:
international_matches.tail()

,Unnamed: 0,match_id,city,date,player_of_match,venue,match_type,team1,team2,toss_winner,...,winner,result,outcome_by,result_margin,result_margin_type,eliminator,umpire1,umpire2,season,team_type
17861,17861,997965,Belfast,2016-07-17,NaN,"Civil Service Cricket Club, Stormont",ODI,Ireland,Afghanistan,Afghanistan,...,Afghanistan,win,{'runs': 79},79.0,runs,NaN,AJ Neill,C Shamshuddin,2016,international
17862,17862,997967,Belfast,2016-07-19,NaN,"Civil Service Cricket Club, Stormont",ODI,Ireland,Afghanistan,Afghanistan,...,Ireland,win,{'runs': 12},12.0,runs,NaN,R Black,C Shamshuddin,2016,international
17863,17863,997991,Ayr,2016-08-09,NaN,Cambusdoon New Ground,MDM,United Arab Emirates,Scotland,Scotland,...,NaN,draw,{},NaN,NaN,NaN,AJT Dowdalls,M Hawthorne,2016,international
17864,17864,997993,Edinburgh,2016-08-14,NaN,"Grange Cricket Club Ground, Raeburn Place",ODI,Scotland,United Arab Emirates,United Arab Emirates,...,Scotland,win,{'runs': 98},98.0,runs,NaN,DA Haggo,M Hawthorne,2016,international
17865,17865,997995,Edinburgh,2016-08-16,NaN,"Grange Cricket Club Ground, Raeburn Place",ODI,Scotland,United Arab Emirates,United Arab Emirates,...,Scotland,win,{'wickets': 7},7.0,wickets,NaN,DA Haggo,M Hawthorne,2016,international

In [59]:
international_matches['match_type'].unique()

array(['Test', 'ODI', 'T20', 'MDM', 'ODM', 'IT20'], dtype=object)

In international tornuments there are only 3 types of formats,
1. Test
2. ODI
3. T20

   So changing IT20 ("International T20") as T20 and ODM ("One day match") as ODI.

In [60]:
# Replace values in the 'match_type' column
international_matches['match_type'] = international_matches['match_type'].replace({
    'ODM': 'ODI',
    'IT20': 'T20'
})

# Verify the changes
print(international_matches['match_type'].unique())

['Test' 'ODI' 'T20' 'MDM']

In [61]:
# Count the rows where match_type is 'MDM'
mdm_count = international_matches[international_matches['match_type'] == 'MDM'].shape[0]

print("Number of records with match_type 'MDM':", mdm_count)

Number of records with match_type 'MDM': 23

In [62]:
# Remove rows where match_type is 'MDM'
international_matches = international_matches[international_matches['match_type'] != 'MDM']

# Verify that the rows have been deleted
print(international_matches['match_type'].unique())

['Test' 'ODI' 'T20']

In [72]:
international_matches['result'].unique()

array(['win', 'draw'], dtype=object)

In [63]:
international_matches.isnull().sum()

Unnamed: 0               0
match_id                 0
city                   706
date                     0
player_of_match        743
venue                    0
match_type               0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
winner                 448
result                   0
outcome_by               0
result_margin          451
result_margin_type     451
eliminator            8354
umpire1                140
umpire2                142
season                   0
team_type                0
dtype: int64

As for prediction, Venue is deciding than City, null values in city column is neglected as it doesn't effect the prediction.

In result column, there are only 2 unique type of results, win or draw. As there are draws, result_margin, winner, result_margin_type have null values which doesn't effect the prediction.

In [64]:
international_matches.shape

(8354, 21)

In [65]:
international_matches=international_matches.drop(columns=['eliminator'])

In [66]:
international_matches.columns

Index(['Unnamed: 0', 'match_id', 'city', 'date', 'player_of_match', 'venue',
       'match_type', 'team1', 'team2', 'toss_winner', 'toss_decision',
       'winner', 'result', 'outcome_by', 'result_margin', 'result_margin_type',
       'umpire1', 'umpire2', 'season', 'team_type'],
      dtype='object')

In [70]:
international_matches.head()

,Unnamed: 0,match_id,city,date,player_of_match,venue,match_type,team1,team2,toss_winner,toss_decision,winner,result,outcome_by,result_margin,result_margin_type,umpire1,umpire2,season,team_type
0,0,1000851,Perth,2016-11-03,K Rabada,Western Australia Cricket Association Ground,Test,Australia,South Africa,South Africa,bat,South Africa,win,{'runs': 177},177.0,runs,Aleem Dar,NJ Llong,2016/17,international
1,1,1000853,Hobart,2016-11-12,KJ Abbott,Bellerive Oval,Test,Australia,South Africa,South Africa,field,South Africa,win,"{'innings': 1, 'runs': 80}",80.0,runs,Aleem Dar,RA Kettleborough,2016/17,international
2,2,1000855,NaN,2016-11-24,UT Khawaja,Adelaide Oval,Test,Australia,South Africa,South Africa,bat,Australia,win,{'wickets': 7},7.0,wickets,RA Kettleborough,NJ Llong,2016/17,international
3,3,1000881,Brisbane,2016-12-15,Asad Shafiq,"Brisbane Cricket Ground, Woolloongabba",Test,Australia,Pakistan,Australia,bat,Australia,win,{'runs': 39},39.0,runs,IJ Gould,RK Illingworth,2016/17,international
4,4,1000883,NaN,2016-12-26,SPD Smith,Melbourne Cricket Ground,Test,Australia,Pakistan,Pakistan,bat,Australia,win,"{'innings': 1, 'runs': 18}",18.0,runs,IJ Gould,S Ravi,2016/17,international

## Column Description

1. **match_id**: Unique identifier for each match.  
2. **city**: City where the match was played.  
3. **date**: Date of the match.  
4. **player_of_match**: Name of the player who was awarded "Player of the Match".  
5. **venue**: Stadium or venue where the match was played.  
6. **match_type**: Match type (e.g., ODI, Test, T20).  
7. **team1**: Name of the first team participating in the match.  
8. **team2**: Name of the second team participating in the match.  
9. **toss_winner**: Name of the team that won the toss.  
10. **toss_decision**: Decision taken by the toss-winning team (either 'field' or 'bat').  
11. **winner**: Name of the team that won the match.  
12. **result**: The result of the match (e.g., 'runs', 'wickets', 'tie', etc.).  
13. **outcome_by**: Number of runs/wickets.  
14. **result_margin**: The margin by which the winning team won the match.  
15. **result_margin_type**: Type of margin by which the winning team won (e.g., runs or wickets).  
16. **umpire1**: Name of the first on-field umpire.  
17. **umpire2**: Name of the second on-field umpire.  
18. **season**: Year of the match.  
19. **team_type**: Indicates if the match was at the International or Club level.
0  1 non-null  object

In [67]:
unique_team_count = international_matches['team1'].nunique()

print("Number of unique team names in 'team1':", unique_team_count)

Number of unique team names in 'team1': 105

In [73]:
venue_count = international_matches['venue'].nunique()

print("Number of unique venue:",venue_count)

Number of unique venue: 621

In [74]:
international_matches.describe()

         Unnamed: 0  result_margin
count   8354.000000    7903.000000
mean    9672.837922      38.723143
std     4949.664152      57.450541
min        0.000000       1.000000
25%     5802.250000       6.000000
50%    10502.500000       9.000000
75%    13720.750000      51.000000
max    17865.000000     546.000000

In [75]:
international_matches.to_csv('international_matches.csv', index=False)